body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
ul {
  padding:0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
  width: 80px;
  height: 80px;
  list-style: none;
  padding:12px;
}
#allcanvas {
  margin: 0;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }
button{
  border: none;
  outline: none;
  width: 80px;
  height:80px;
}
.square {
  background: url("images/square.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.pentagon {
  transform: rotate(9deg);
  background: url("images/pentagon.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.circle{
  background: url("images/circle.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.triangle  {
  background: url("images/triangle.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.hexagon {
  background: url("images/hexagon.png") no-repeat;
  background-size: contain;
  background-position: center;
}
